# hard (runtime) dependencies
# keep this in sync with setup.py

# (only django, but the verison is chosen by the tox environment)

# dependencies for tox testing
django-filter
django-storages
djangorestframework
isort
logging_tree
mysqlclient

# See https://github.com/ezhome/django-webpack-loader/pull/41
-e git+https://github.com/levic/django-webpack-loader.git@webpack_loader_class#egg=webpack_loader

# .. plus specific version dependencies defined in tox.ini
# we can't list them here because of https://github.com/pypa/pip/issues/2367
